.example-form {
    width: 80%;
    height: 100%;
}

.mat-elevation-z8 {
    padding-top: 10px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 15px;
}

.mat-card-title {
    size: 40px;
    color: blue;
    padding-left: 250px;
}

.example-full-width {
    width: 100%;
}

.example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.example-button-row button,
.example-button-row a {
    margin-right: 8px;
}

.top {
    padding-top: 30px;
}

.mat-raised-button {
    background-color: blue;
    color: beige;
}